@font-face {
    font-family: 'KomikaTitleRegular';
    src: url('/media/250/KomikaTitle_webfont.eot');
    src: url('/media/250/KomikaTitle_webfont.eot?#iefix') format('embedded-opentype'),
         url('/media/259/KomikaTitle_webfont.woff') format('woff'),
         url('/media/256/KomikaTitle_webfont.ttf') format('truetype'),
         url('/media/253/KomikaTitle_webfont.svg#KomikaTitleRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'KomikaTitle-PaintRegular';
    src: url('/media/238/KomikaTitle_Paint_webfont.eot');
    src: url('/media/238/KomikaTitle_Paint_webfont.eot?#iefix') format('embedded-opentype'),
         url('/media/247/KomikaTitle_Paint_webfont.woff') format('woff'),
         url('/media/244/KomikaTitle_Paint_webfont.ttf') format('truetype'),
         url('/media/241/KomikaTitle_Paint_webfont.svg#KomikaTitle-PaintRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'KomikaTitleWideRegular';
    src: url('/media/262/KomikaTitle_Wide_webfont.eot');
    src: url('/media/262/KomikaTitle_Wide_webfont.eot?#iefix') format('embedded-opentype'),
         url('/media/271/KomikaTitle_Wide_webfont.woff') format('woff'),
         url('/media/268/KomikaTitle_Wide_webfont.ttf') format('truetype'),
         url('/media/265/KomikaTitle_Wide_webfont.svg#KomikaTitleWideRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'KomikaTitleAxisRegular';
    src: url('/media/214/KomikaTitle_Axis_webfont.eot');
    src: url('/media/214/KomikaTitle_Axis_webfont.eot?#iefix') format('embedded-opentype'),
         url('/media/223/KomikaTitle_Axis_webfont.woff') format('woff'),
         url('/media/220/KomikaTitle_Axis_webfont.ttf') format('truetype'),
         url('/media/217/KomikaTitle_Axis_webfont.svg#KomikaTitleAxisRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'KomikaTitleKapsRegular';
    src: url('/media/226/KomikaTitle-Kaps-webfont.eot');
    src: url('/media/226/KomikaTitle-Kaps-webfont.eot?#iefix') format('embedded-opentype'),
         url('/media/235/KomikaTitle-Kaps-webfont.woff') format('woff'),
         url('/media/232/KomikaTitle-Kaps-webfont.ttf') format('truetype'),
         url('/media/229/KomikaTitle-Kaps-webfont.svg#KomikaTitleKapsRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DroidSansMonoRegular';
    src: url('/media/274/DroidSansMono_webfont.eot');
    src: url('/media/274/DroidSansMono_webfont.eot?#iefix') format('embedded-opentype'),
         url('/media/283/DroidSansMono_webfont.woff') format('woff'),
         url('/media/280/DroidSansMono_webfont.ttf') format('truetype'),
         url('/media/277/DroidSansMono_webfont.svg#DroidSansMonoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'FelipaRegular';
    src: url('/media/308/Felipa_Regular_webfont.eot');
    src: url('/media/308/Felipa_Regular_webfont.eot?#iefix') format('embedded-opentype'),
         url('/media/317/Felipa_Regular_webfont.woff') format('woff'),
         url('/media/314/Felipa_Regular_webfont.ttf') format('truetype'),
         url('/media/311/Felipa_Regular_webfont.svg#FelipaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
h1, h2, h3, h4, h5, h6 { font-family:KomikaTitleRegular, Verdana, Geneva, 'DejaVu Sans', sans-serif; }
h1 { font-size: 28px;}
h2 { font-size: 20px; }
h3 {font-size: 16px; }
html, body { margin:0 auto; padding:0 auto; display:block; font: normal 12px DroidSansMonoRegular,Arial, Verdana;}
a img, img {border:none; }
.wrapper {text-align:center; }
.wrapper .header { margin:0 auto; }
.wrapper .header header {width:965px; margin: 0 auto; position:relative; }
.wrapper .header header nav .menu { margin: 0 auto; padding:35px 0 0 0; border-bottom:solid silver 1px;  width:965px; text-align:right; font: normal 16px KomikaTitleWideRegular,Verdana; }
.wrapper .header header nav .menu li { display:inline-block; margin: 0; padding:10px; position:relative;}
.wrapper .header header nav .menu li:last-child { padding-right:0px;}
.wrapper .header header nav .menu li a, .wrapper .header header nav .menu li a:visited  {display:block; width:100%; text-decoration:none; color:black;}
.wrapper .header header nav .menu li a:hover { color:#c32730; }
.wrapper .header header nav .menu li.selected a {color: #c32730; }
.wrapper .header header nav .menu li .subMenu { z-index:10; background-color:white;min-width:140px; width:88%; width:-webkit-calc(100% -20px); width: calc(100% - 20px); font-size:12px; 
                                                margin:0; padding:10px 25px 20px 0; display:none; position:absolute; top:43px; left:0px; border-right:1px solid gray; 
                                                border-bottom:1px solid gray; border-left:1px solid gray; 
                                                -webkit-border-radius: 0px 0px 40px 40px; border-radius: 0px 0px 40px 40px;
                                                -webkit-box-shadow: inset -4px -4px 10px 1px rgba(50, 50, 50, .5); box-shadow:inset -4px -4px 10px 1px rgba(50, 50, 50, .5);}
.wrapper .header header nav .menu li .subMenu li { width:100%; text-align:right; margin:0; padding:0 0 0 10px;}
.wrapper .header header nav .menu li .subMenu li:last-child {padding-bottom:10px; }
.wrapper .header header nav .menu li .subMenu li a {display:block;  border-bottom:groove 1px silver; color:black;}
.wrapper .header header nav .menu li .subMenu li a:hover {color:#c32730;}
.wrapper .header header #logo {height:131px; width:131px; display:block; position:absolute; top:0px; left:0px;}
.wrapper .header header #contactHeader {text-align:right; padding:20px 0 0 0;}
.wrapper .header header #tagLine {font: normal 20px FelipaRegular, Verdana, Arial; color:gray; text-align:left;  position:absolute; top:21px; left:133px; }
.wrapper .header header #tagLine div { margin: 0 0 0 10px;}


.wrapper .bodyContent {width:925px; margin: 0 auto; padding: 5px 20px 45px 20px; text-align:left; position:relative;}
.wrapper .bodyContent.home { background-color:white; top:-150px; }
.wrapper .bodyContent p { padding:0; margin:0;}
.wrapper .rotator { position:relative; min-height:560px; z-index:-10;}
.wrapper .rotator .item {height:757px; background-repeat:no-repeat; background-position:top center; position:absolute; top:-150px !important; left:0px !important; width:100%; }


.wrapper .footer {width:925px; min-height:212px; margin: 0 auto; padding:20px; border-top:solid 1px silver; background: /*url(/media/335/footerimg1.jpg)*/ url(/media/330/footerimg.jpg) no-repeat center center;}
.wrapper .footer footer { position:relative; min-height:212px;}
.wrapper .footer footer nav .footerNav {position: absolute; top: 0px; left: 0px;}
.wrapper .footer footer nav .footerNav .sitemap {margin:0; padding:0; font-size:16px; }
.wrapper .footer footer nav .footerNav .sitemap li {display:inline-block; vertical-align:top; text-align:left; padding:7px 0 0 0; }
.wrapper .footer footer nav .footerNav .sitemap > li > a {border-bottom:solid 1px silver;}
.wrapper .footer footer nav .footerNav .sitemap > li {border-right:solid 1px silver; padding:0 5px 0 0;}
.wrapper .footer footer nav .footerNav .sitemap .sitemapSublevel { margin:0; padding:0; }
.wrapper .footer footer nav .footerNav .sitemap .sitemapSublevel li {display:block; width:100%; font-size:14px; max-width:140px;}
.wrapper .footer footer nav .footerNav .sitemap li a, .wrapper .footer footer nav .footerNav .sitemap .sitemapSublevel li a {display:block; width:100%; color:#808080; text-decoration:none;}
.wrapper .footer footer nav .footerNav .sitemap li a:hover, .wrapper .footer footer nav .footerNav .sitemap .sitemapSublevel li a:hover {text-decoration:underline; }
.wrapper .footer footer #affiliates {position:absolute; bottom:0px;right:0px;}
.wrapper .footer footer address {text-align:right; }

.wrapper .bodyContent .theTeam h2 {margin:0; padding:0; }
.wrapper .bodyContent .theTeam h2 span {font-size:12px; }

/*banners*/
.banners { position:absolute; top:149px; left:192px; text-align:left; width:965px;}
#banner1,#banner2 { position:relative;}
#banner1 h1, #banner1 p, #banner2 h1, #banner2 p{ position:absolute;}
#banner1 h1, #banner2 h1 { font:normal 50px KomikaTitle-PaintRegular, Verdana; margin:0; padding:0; text-shadow: 5px 5px 10px rgba(50, 50, 50, .5); }
#banner1 p, #banner2 p { font-size:24px; margin:0; padding:0;}
#banner1 h1 { top:5px; left:150px;}
#banner1 p {top:100px; left:430px; }
#banner2 h1 { top:15px; left:430px; }
#banner2 p { top:100px; left:430px; }
/* Mobile Devices*/
@media screen and (max-width: 480px) {
   

}

/* #### CSS for high resolution devices in general #### */
@media screen and (-webkit-min-device-pixel-ratio: 1.5){
  /* some css here */
}


/* #### CSS for small screen high resolution devices such as iPhone 4 #### */
@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 480px){
  /* some css here */
}


/* #### CSS for large screen high resolution devices such as iPad 3 #### */
@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 768px){
  /* some css here */
}

/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
