@using umbraco.NodeFactory

@inherits umbraco.MacroEngines.DynamicNodeContext


@{
    var imgs = Model.MediaById(1162);
    int i = 0;
    if(imgs != null)
    {
		<div class="prev"></div>
        <div class="rotator">
           
            @foreach(var img in imgs.Children)
            {
                i++;
                <div class="item" style="background-image:url(@img.NiceUrl);">
                    <div class="banners">
                        <div id="banner@{@i.ToString()}">
                           <h1>@img.headline</h1>
                            <p>@img.content</p>
                        </div>
                    </div>
                </div>
            }   
        </div>
		<div class="next"></div>
		<div class="rotatorPager"></div>
    }
}