<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT Master ANY>
<!ATTLIST Master id ID #REQUIRED>
<!ELEMENT SubPage ANY>
<!ATTLIST SubPage id ID #REQUIRED>

]>
<root id="-1">
  <Master id="1079" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1076" template="1146" sortOrder="0" createDate="2013-01-21T16:21:17" updateDate="2013-03-05T19:27:22" nodeName="Home" urlName="home" writerName="admin" creatorName="admin" path="-1,1079" isDoc="">
    <title>Welcome Home</title>
    <keywords><![CDATA[this,home, now]]></keywords>
    <description><![CDATA[Home PAge]]></description>
    <body>&lt;p&gt;Founded in 1985, American City Plumbing has over 27 years of experience helping homeowners and businesses in Fort Wayne, Indiana, and the surrounding area with all your plumbing service needs. Our staff of highly-skilled professionals with over 100 years of combined experience includes 13 full-time plumbers and apprentices &lt;/p&gt;</body>
    <umbracoNaviHide>0</umbracoNaviHide>
    <SubPage id="1085" parentID="1079" level="2" writerID="0" creatorID="0" nodeType="1082" template="1081" sortOrder="0" createDate="2013-01-21T16:48:34" updateDate="2013-01-23T15:46:39" nodeName="Who We Serve" urlName="who-we-serve" writerName="admin" creatorName="admin" path="-1,1079,1085" isDoc="">
      <title>Who We Serve</title>
      <body><![CDATA[]]></body>
      <keywords><![CDATA[]]></keywords>
      <description><![CDATA[]]></description>
      <SubPage id="1131" parentID="1085" level="3" writerID="0" creatorID="0" nodeType="1082" template="1081" sortOrder="0" createDate="2013-01-22T14:13:07" updateDate="2013-01-24T16:25:29" nodeName="Commercial" urlName="commercial" writerName="admin" creatorName="admin" path="-1,1079,1085,1131" isDoc="">
        <title>Commerical</title>
        <body><![CDATA[<p>American City Plumbing, Inc is a licensed plumbing contractor with over 27 years of experience in commercial plumbing. We work with general contractors for commercial plumbing, new construction, maintenance and remodels for projects such as restaurants, motels, apartment complex’s, home improvement stores, tenant build-outs, and plumbing design builds. We offer a full line of repair and replacement options for fixtures, faucets, valves, and piping. We also do backflow preventor installation, service and testing. Whatever your plumbing needs, we have the right tools for the job.</p>
<p>American City Plumbing, Inc offers a wide range of travel options for service. We are based in the Fort Wayne, Indiana area but employ numerous journeyman plumbers who are able to travel statewide, throughout Indiana and Michigan, to wherever they are needed. After hours scheduling is also available.</p>
<p>For more information on our commercial plumbing services or to schedule a service call, please contact us at (260) 483-7661.</p>
<p>Just a few of our commercial contractors we have worked for:</p>
<p>D.G. Perry Bradford Builders<br />DeWees Construction G.M. Northrup<br />GKB Construction Capitol Construction<br />Gilliatte Contractors JJO Construction<br />Parkway Construction Kroger Company<br />Patriot Group, Inc. Rafferty Construction<br />Reece Campbell TempMaster<br />S.C. Nestel<br />Shawnee Construction<br />Venture One Construction<br />Walgreen’s</p>]]></body>
        <keywords><![CDATA[]]></keywords>
        <description><![CDATA[]]></description>
      </SubPage>
      <SubPage id="1132" parentID="1085" level="3" writerID="0" creatorID="0" nodeType="1082" template="1081" sortOrder="1" createDate="2013-01-22T14:13:16" updateDate="2013-02-07T19:59:40" nodeName="Companies" urlName="companies" writerName="admin" creatorName="admin" path="-1,1079,1085,1132" isDoc="">
        <title>Companies</title>
        <body><![CDATA[]]></body>
        <keywords><![CDATA[]]></keywords>
        <description><![CDATA[]]></description>
      </SubPage>
      <SubPage id="1133" parentID="1085" level="3" writerID="0" creatorID="0" nodeType="1082" template="1081" sortOrder="2" createDate="2013-01-22T14:13:27" updateDate="2013-01-24T16:24:45" nodeName="Warranty Service" urlName="warranty-service" writerName="admin" creatorName="admin" path="-1,1079,1085,1133" isDoc="">
        <title>Warranty Service</title>
        <body><![CDATA[<p> </p>
<p>American City Plumbing, Inc has over 27 years experience working with both residential and commercial warranty service and maintenance companies. We are capable of handling a wide variety of plumbing repair jobs as well as new installation work for all of your plumbing service needs.</p>
<p>With American City Plumbing, Inc there are no surprise bills once the work has been completed. We offer competitive estimates to ensure that all costs are disclosed in advance. Our team of experienced technicians has the knowledge and skill required to respond to any plumbing service need quickly and professionally. Emergency plumbing service is available.</p>
<p>While we are a Fort Wayne, Indiana based plumbing company, we employ numerous journeyman plumbers who are capable of traveling statewide, throughout Indiana and Michigan, to wherever they are needed.</p>
<p>For more information, or to schedule a service call, please contact us at (260) 483-7661.</p>
<p>Just a few of our Warranty Service and Maintenance Companies…</p>
<p>1st American Homebuyers<br />Academy Fire Protection<br />Cross Country Home Services<br />First Service Networks<br />GMAC<br />HMS<br />HSA Home Warranty<br />HomeServe 24<br />HomeServe Plus<br />Home Service USA <br />Kitchen Protect<br />Movers Specialty Services<br />N G &amp; G Facility Services Int'l<br />National One<br />NiSource<br />National Service Online Corp.<br />Professional Retail Outlet<br />Quality Solutions<br />Residential Warranty Services<br />Retail Maintenance Service<br />Service Com USA<br />Systems Protect<br />Total Facility<br />Total Protect</p>]]></body>
        <keywords><![CDATA[]]></keywords>
        <description><![CDATA[]]></description>
      </SubPage>
      <SubPage id="1134" parentID="1085" level="3" writerID="0" creatorID="0" nodeType="1082" template="1081" sortOrder="3" createDate="2013-01-22T14:13:43" updateDate="2013-01-24T16:24:13" nodeName="General Contractors" urlName="general-contractors" writerName="admin" creatorName="admin" path="-1,1079,1085,1134" isDoc="">
        <title>General Contractors</title>
        <body><![CDATA[<p>American City Plumbing is a plumbing contractor with over 27 years of experience working with general contractors in all phases of new commercial plumbing - from single family dwellings, tenant build outs to 100+ unit motels, apartments, nursing homes, and other multi-family projects.</p>
<p>Our numerous journeyman plumbers are capable of traveling statewide, throughout Indiana and Michigan.</p>
<p>Contact us at (260) 483-7661 to learn more about why general contractors in Indiana, and Michigan choose American City Plumbing for their plumbing contractor needs.</p>
<p><br />In addition to working as a plumbing contractor for Walgreens statewide, some of our other larger clients include Lowes, Wal-Mart, and Menards. We have gained the trust of many construction companies, working hand-in-hand with general contractors, just to name a few…</p>
<p>Residential</p>
<p>Bailey Builders<br /> Borkenstien Remodeling<br /> Ditchaway Construction<br /> E.E.Brandenberger<br /> Eastman Construction<br /> Ideal Suburban Homes<br /> Maggos Builders<br />Commercial<br /> D.G. Perry<br /> DeWees Construction<br /> GKB Construction<br /> Gilliatte Contractors<br /> Parkway Construction<br /> Reece Campbell<br /> S.C. Nestel<br /> Shawnee Construction<br /> Venture One Construction<br /> Walgreen’s <br /> Bradford Builders<br /> G.M. Northrup<br /> JJO Construction<br /> Capitol Construction<br /> Kroger Company<br /> Rafferty Construction<br /> TempMaster</p>]]></body>
        <keywords><![CDATA[]]></keywords>
        <description><![CDATA[]]></description>
      </SubPage>
      <SubPage id="1135" parentID="1085" level="3" writerID="0" creatorID="0" nodeType="1082" template="1081" sortOrder="4" createDate="2013-01-22T14:13:57" updateDate="2013-01-24T16:23:50" nodeName="Home Owners" urlName="home-owners" writerName="admin" creatorName="admin" path="-1,1079,1085,1135" isDoc="">
        <title>Home Owners</title>
        <body><![CDATA[<p>American City Plumbing, Inc is a plumbing contractor with over 27 years of experience providing plumbing remodeling and repair services to homeowners in Fort Wayne, Indiana and surrounding areas, including bathroom plumbing remodels, kitchen plumbing remodels, water heater repair and replacement, and faucet repair and replacement. From small repairs to complete installations, we can service all of your plumbing needs. We can even help you to winterize or prepare your lake property plumbing for spring. For peace of mind, we also provide on-site inspections. ** We now offer camera and locator services for your convience. Ask our service department about these services today ** ** We now offer Heating &amp; A/C inspections, repairs, or replacement **</p>
<p>Drawing from a wide variety of brands and models, American City Plumbing, Inc offers many unique and hard-to-find fixtures. Access to local plumbing supplier showrooms is available as well to help you select the perfect fixtures for your needs.<br /> <br />For plumbing service, remodels, or water heater repair or replacement, be sure to call American City Plumbing, Inc. Our response times are quick and emergency service is available when you need it most.</p>
<p> </p>
<p>For more information, or to schedule a service call, please contact us at (260) 483-7661.</p>
<p>Home Plumbing Service and Repairs<br />Bathroom plumbing remodels<br />Kitchen plumbing remodels<br />Additions and Renovations<br />New Home Plumbing Systems<br />R.O. Systems &amp; Filters<br />Irrigation Backflow Testing<br />Residential Backflow Installation &amp; Testing<br />Water heater repair or replacement<br />Lake Property Plumbing Winterization<br />Lake Property Plumbing Spring Preparation<br />Camera and locator services<br />Heating &amp; A/C repairs or replacement</p>]]></body>
        <keywords><![CDATA[]]></keywords>
        <description><![CDATA[]]></description>
      </SubPage>
    </SubPage>
    <SubPage id="1086" parentID="1079" level="2" writerID="0" creatorID="0" nodeType="1082" template="1081" sortOrder="1" createDate="2013-01-21T16:48:59" updateDate="2013-02-07T19:59:11" nodeName="Services" urlName="services" writerName="admin" creatorName="admin" path="-1,1079,1086" isDoc="">
      <title>Services</title>
      <body><![CDATA[]]></body>
      <keywords><![CDATA[]]></keywords>
      <description><![CDATA[]]></description>
      <SubPage id="1136" parentID="1086" level="3" writerID="0" creatorID="0" nodeType="1082" template="1081" sortOrder="0" createDate="2013-01-22T14:19:12" updateDate="2013-02-07T20:00:03" nodeName="New Construction" urlName="new-construction" writerName="admin" creatorName="admin" path="-1,1079,1086,1136" isDoc="">
        <title>New Construction</title>
        <body><![CDATA[]]></body>
        <keywords><![CDATA[]]></keywords>
        <description><![CDATA[]]></description>
      </SubPage>
      <SubPage id="1137" parentID="1086" level="3" writerID="0" creatorID="0" nodeType="1082" template="1081" sortOrder="1" createDate="2013-01-22T14:19:24" updateDate="2013-01-22T14:20:33" nodeName="Remodels" urlName="remodels" writerName="admin" creatorName="admin" path="-1,1079,1086,1137" isDoc="">
        <title>
        </title>
        <body><![CDATA[]]></body>
        <keywords><![CDATA[]]></keywords>
        <description><![CDATA[]]></description>
      </SubPage>
      <SubPage id="1138" parentID="1086" level="3" writerID="0" creatorID="0" nodeType="1082" template="1081" sortOrder="2" createDate="2013-01-22T14:19:31" updateDate="2013-01-22T14:20:33" nodeName="Repairs" urlName="repairs" writerName="admin" creatorName="admin" path="-1,1079,1086,1138" isDoc="">
        <title>
        </title>
        <body><![CDATA[]]></body>
        <keywords><![CDATA[]]></keywords>
        <description><![CDATA[]]></description>
      </SubPage>
      <SubPage id="1139" parentID="1086" level="3" writerID="0" creatorID="0" nodeType="1082" template="1081" sortOrder="3" createDate="2013-01-22T14:19:38" updateDate="2013-01-22T14:20:33" nodeName="Inspections" urlName="inspections" writerName="admin" creatorName="admin" path="-1,1079,1086,1139" isDoc="">
        <title>
        </title>
        <body><![CDATA[]]></body>
        <keywords><![CDATA[]]></keywords>
        <description><![CDATA[]]></description>
      </SubPage>
      <SubPage id="1140" parentID="1086" level="3" writerID="0" creatorID="0" nodeType="1082" template="1081" sortOrder="4" createDate="2013-01-22T14:19:58" updateDate="2013-01-22T14:20:33" nodeName="Backflow Prevention &amp; Testing" urlName="backflow-prevention-testing" writerName="admin" creatorName="admin" path="-1,1079,1086,1140" isDoc="">
        <title>
        </title>
        <body><![CDATA[]]></body>
        <keywords><![CDATA[]]></keywords>
        <description><![CDATA[]]></description>
      </SubPage>
      <SubPage id="1141" parentID="1086" level="3" writerID="0" creatorID="0" nodeType="1082" template="1081" sortOrder="5" createDate="2013-01-22T14:20:08" updateDate="2013-01-22T14:20:33" nodeName="Design Build" urlName="design-build" writerName="admin" creatorName="admin" path="-1,1079,1086,1141" isDoc="">
        <title>
        </title>
        <body><![CDATA[]]></body>
        <keywords><![CDATA[]]></keywords>
        <description><![CDATA[]]></description>
      </SubPage>
    </SubPage>
    <SubPage id="1089" parentID="1079" level="2" writerID="0" creatorID="0" nodeType="1082" template="1081" sortOrder="2" createDate="2013-01-21T16:50:44" updateDate="2013-02-07T19:59:19" nodeName="About" urlName="about" writerName="admin" creatorName="admin" path="-1,1079,1089" isDoc="">
      <title>About</title>
      <body><![CDATA[]]></body>
      <keywords><![CDATA[]]></keywords>
      <description><![CDATA[]]></description>
      <SubPage id="1153" parentID="1089" level="3" writerID="0" creatorID="0" nodeType="1082" template="1081" sortOrder="0" createDate="2013-01-23T15:41:19" updateDate="2013-02-19T13:49:02" nodeName="The Team" urlName="the-team" writerName="admin" creatorName="admin" path="-1,1079,1089,1153" isDoc="">
        <title>The Team</title>
        <body>&lt;?UMBRACO_MACRO macroAlias="TeamMembers" /&gt;</body>
        <keywords><![CDATA[]]></keywords>
        <description><![CDATA[]]></description>
      </SubPage>
    </SubPage>
    <SubPage id="1090" parentID="1079" level="2" writerID="0" creatorID="0" nodeType="1082" template="1081" sortOrder="4" createDate="2013-01-21T16:50:51" updateDate="2013-02-16T17:02:30" nodeName="Contact" urlName="contact" writerName="admin" creatorName="admin" path="-1,1079,1090" isDoc="">
      <title>Contact Us</title>
      <body>&lt;?UMBRACO_MACRO macroAlias="Contact" /&gt;</body>
      <keywords><![CDATA[]]></keywords>
      <description><![CDATA[]]></description>
      <SubPage id="1172" parentID="1090" level="3" writerID="0" creatorID="0" nodeType="1082" template="1081" sortOrder="0" createDate="2013-03-05T13:12:20" updateDate="2013-03-05T13:12:34" nodeName="Request For Service" urlName="request-for-service" writerName="admin" creatorName="admin" path="-1,1079,1090,1172" isDoc="">
        <title>Request For Service</title>
        <keywords><![CDATA[]]></keywords>
        <description><![CDATA[]]></description>
        <body>
        </body>
      </SubPage>
      <SubPage id="1173" parentID="1090" level="3" writerID="0" creatorID="0" nodeType="1082" template="1081" sortOrder="1" createDate="2013-03-05T13:20:24" updateDate="2013-03-05T13:20:37" nodeName="Emergency" urlName="emergency" writerName="admin" creatorName="admin" path="-1,1079,1090,1173" isDoc="">
        <title>Emergency Contact</title>
        <keywords><![CDATA[]]></keywords>
        <description><![CDATA[]]></description>
        <body>
        </body>
      </SubPage>
    </SubPage>
    <SubPage id="1175" parentID="1079" level="2" writerID="0" creatorID="0" nodeType="1082" template="1174" sortOrder="5" createDate="2013-03-05T14:28:30" updateDate="2013-03-05T14:41:55" nodeName="sitemap" urlName="sitemap" writerName="admin" creatorName="admin" path="-1,1079,1175" isDoc="">
      <title>
      </title>
      <keywords><![CDATA[]]></keywords>
      <description><![CDATA[]]></description>
      <body>
      </body>
      <umbracoNaviHide>1</umbracoNaviHide>
    </SubPage>
  </Master>
</root>