@inherits umbraco.MacroEngines.DynamicNodeContext

                            @helper traverse(dynamic node){
                            var maxLevelForSitemap = String.IsNullOrEmpty(Parameter.MaxLevelForSitemap) ? 4 : int.Parse(Parameter.MaxLevelForSitemap); 

                            var values = new Dictionary<string,object>();
                            values.Add("maxLevelForSitemap", maxLevelForSitemap) ;

                               var items = node.Children.Where("Visible").Where("Level <= maxLevelForSitemap", values);
                               if (items.Count() > 0) { 
                               <ul class="siteMapSublevel">
                                        @foreach (var item in items) {
                                            <li>
					                            <a href='@item.Url.Replace(".aspx","")'>@item.Name</a>
					                            @traverse(item)
                                            </li>
                                        }
                               </ul>
                                }
                            }
                            <div class="sitemap"> 
                                @traverse(@Model.AncestorOrSelf())
                            </div>